<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User Details</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25px; text-align: center;">Id</th>
        <th style="width: 100px; text-align: center;">Username</th>
        <th style="width: 150px; text-align: center;">Email</th>
        <th style="width: 100px;">Password</th>
        <th style="width: 80px; text-align: center;">Birth date</th>
        <th style="width: 150px; text-align: center;">mobile</th>
        <th style="width: 80px; text-align: center;">gender</th>
        <th style="width: 200px; text-align: center;">address</th>
      </tr>
    </thead>
    <tbody>
      {% for data in context %}
      <tr>
        <td style="width: 25px; text-align: center;">{{forloop.counter}}</td>
        <td style="width: 100px;" class="text-break">{{data.user_id.username}}</td>
        <td class="text-break" style="width: 150px; ">{{data.user_id.user_email}}</td>
        <td style="width: 100px;">{{data.user_id.password}}</td>
        <td style="width: 80px;">{{data.date_of_birth}}</td>
        <td style="width: 150px;">{{data.mobile}}</td>
        <td style="width: 80px;">{{data.gender}}</td>
        <td style="width: 150px;" class="text-break">{{data.address}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>